body{
  font-family: 'DotGothic16', sans-serif;
}

table tr:hover td {
  background-color: #d4dbff;
}

table{
    width: 100%;
    border-spacing: 0;
  }
  
  table th,table td{
    padding: 10px 0;
    text-align: center;
  }
  
  table tr:nth-child(odd){
    background-color: #eee
  }
  
  table {
    counter-reset: rowCount;
  }

  /*遅れの色付け*/

  #delay_5{
    background-color:#06aed4;
  }
  #delay_10{
    background-color:blue;
    color : white;
  }
  #delay_30{
    background-color:orange ;
  }
  #delay_60{
    background-color: crimson;
    color : white
  }
  #delay_over{
    background-color: blueviolet;
    color : white;
  }

  /* 種別色付け */ 

  #red{
      color:crimson
  }
  #blue{
      color:blue
    }
  #orange{
      color:orange
  }
  #violet{
      color:blueviolet
  }
  #green{
      color:#06aed4
  }
/*   
  table > tbody > tr {
    counter-increment: rowCount;
  } 
  
  table > tbody > tr > td:first-child::before {
    content: counter(rowCount);
  }*/